security:
    oauth2:
        client:
            clientId: 935260364183-kpb1dsg79onagsspv9lu91osubpmg6rd.apps.googleusercontent.com
            clientSecret: 
            accessTokenUri: https://www.googleapis.com/oauth2/v3/token
            userAuthorizationUri: https://accounts.google.com/o/oauth2/auth
            tokenName: oauth_token
            authenticationScheme: query
            clientAuthenticationScheme: form
            scope: profile
        resource:
            userInfoUri: https://www.googleapis.com/userinfo/v2/me
            preferTokenInfo: false